
/* vim: set foldmethod=marker fmr=/*—,/**\/ :*/
/**/

/*:::::::::::::::::::::::::::::::::::::::: classes.css */

/*———————————————————————————————————————— product cta's */

a.product:link, a.product:visited,
a.producttel:link, a.producttel:visited{
  padding:0 7px 2px 7px;

  border: solid 0.5px red;

  color:white;
  background-color:red;
}

a.product:link, a.product:visited{
  margin-right:-1px;
  border-radius:3px 0 0 3px;
}

a.producttel:link, a.producttel:visited{
  margin-left:-1px;
  margin-right:0.7em;
  border-radius:0px 3px 3px 0;
}

a.product:hover, a.product:active,
a.producttel:hover, a.producttel:active{
  color:black;
  border-color:black;
  background-color:yellow;
}

/*———————————————————————————————————————— ninja form "Contact Me" */

div.nf-form-fields-required{
  margin-bottom:0.5em;
  font-size:smaller;
  text-transform:uppercase;
  opacity:0.6;
  letter-spacing:0.1em;
  
}
/**/
/*———————————————————————————————————————— banner images for products */

figure.wp-block-image.banner{
  margin-bottom:0;
}

figure.wp-block-image.banner img{
  zoom:1;
  border-radius:0;
  border-bottom: none;
}

/* banner headline under image */

h1.wp-block-heading.banner{
  width:100%;
  margin-top:0;
  padding:0.1em 0 0.1em 0.5em;
  color:var(--prodBanner);
  background-color:var(--prodBannerBg);
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: fin */

