
/* vim: set foldmethod=marker fmr=/*—,/**\/ :*/
/**/

/*:::::::::::::::::::::::::::::::::::::::: classes.css */


a.product:link, a.product:visited{
  padding:0 7px 2px 7px;
  border-radius:3px;

  color:white;
  background-color:red;
}

a.product:hover, a.product:active{
  color:black;
  background-color:yellow;
  border:0.5px solid black;
}

/*———————————————————————————————————————— ninja form "Contact Me" */

div.nf-form-fields-required{
  margin-bottom:0.5em;
  font-size:smaller;
  text-transform:uppercase;
  opacity:0.6;
  letter-spacing:0.1em;
  
}
/**/
/*———————————————————————————————————————— banner images for products */

figure.wp-block-image.banner{
  margin-bottom:0;
}

figure.wp-block-image.banner img{
  zoom:1;
  border-radius:0;
  border-bottom: none;
}

/* banner headline under image */

h1.wp-block-heading.banner{
  width:100%;
  margin-top:0;
  padding:0.1em 0 0.1em 0.5em;
  color:var(--prodBanner);
  background-color:var(--prodBannerBg);
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: fin */

