
/* vim: set foldmethod=marker fmr=/*—,/**\/ :*/
/**/

/*:::::::::::::::::::::::::::::::::::::::: fonts.css */

/*

shorthand font syntax (order matters):

font-style
font-variant
font-weight
font-stretch
font-size/line-height
font-family  */

/*———————————————————————————————————————— font faces */

/* Rajdhani is handled with google font API in header.php */


/*———————————————————————————————————————— font variables - matches color variables */

:root{
  --bodyFontSize: 1.0rem;
  --postedOnFont: 300 0.8rem "IBM Plex Mono";
  --topTaggedFont: 300 0.8rem "IBM Plex Mono";
  --bodyFont    : 300 var(--bodyFontSize) "IBM Plex Sans";
  --siteDescFont: 400 0.8rem "IBM Plex Mono";
  --siteNavFont : 400 0.9rem "IBM Plex Mono";
  --hxFont      : 600 1.0rem "Barlow Condensed";
  --footerFont  : 300 1.0rem/2.4rem "IBM Plex Sans";
  --captionFont : italic 300 1.0rem/2.4rem "IBM Plex Sans";
  --tableFont   : 400 var(--bodyFontSize) "IBM Plex Mono";
}
b, strong{
  font-weight:600;
}
/**/

/*:::::::::::::::::::::::::::::::::::::::: fin */

